@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
}

.navhead {
  font-weight: bolder;
  border-radius: 20px;
  background: linear-gradient(to right, #c31432, #240b36);
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
}

button {
  transition: transform 500ms linear;
}

button:hover {
  transform: scale(1.1);
}

.navbar-collapse li a {
  color: whitesmoke;
  font-weight: bolder;
  margin-left: 5px;
}

.navbar-collapse li a:hover {
  color: black;
}

#LOGO {
  width: 90px;
  height: 90px;
}




.form-group,
.btn-success {
  margin-left: 20px;
}

li {
  transition: background 1s, transform 1s;
}

li:hover {
  background-color: white;
}

li:hover {
  transform: scale(1.1);
}

.home {
  background-size: 100% 100%;
  animation-name: carousel;
  animation-duration: 20s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

.dropdowncolor {
  border-radius: 25px;
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
}

.navbarmargin {
  margin-top: 5px;
  padding-top: 10px;
}

.glyphicon-menu-hamburger {
  background: linear-gradient(to right, #4e4376, #2b5876);

}

.jmb {
  margin-top: 10px;
  padding: 20px;
}

.blockquotecolor h3,
footer {
  font-weight: bolder;
  color: whitesmoke;

}

blockquote .quotes .row p {
  font-size: normal;
  color: whitesmoke;

}

.blockquote-reverse {
  text-align: center;

}

#jmbcolor {
  color: #ff0080;
  font-weight: bolder;
}

.btn-info {
  border-radius: 25px;
}

.abtus {
  background: url(https://i1.faceprep.in/ProGrad/portfolio-background.svg);
  background-color: black;
  color: white;
}

.row img {
  height: 50px;
  border-radius: 25px;
}

.contactimage {
  display: flex;
  justify-content: center;
}

.badges-lable {
  margin-top: 60px;
}

.ourservice {
  margin-top: 10px;
  padding: 10px;

}

.ourservice .row {
  color: black;
  font-size: bold;
}


.flexbox ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
}


.test123 div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.test123 img h4 {
  padding: 20px;
}

.terms {
  margin-top: 20px;
}



.row {
  margin-top: 20px;
}

.row button {
  padding: 10px;
  margin-bottom: 20px;
}

#orangeredcolor {
  margin-top: 50px;
}

#orangeredcolor,
#About1 {
  color: orangered;
}

.privacy p {
  background: whitesmoke;
  padding: 10px;
  border: 2px solid #ff0084;
}

.code {
  color: tomato;
}

.footer1 {
  background-color: black;
  height: 40px;
  align-items: center;
  color: black;
  padding: 5px;
}

.breadcrumb {
  background: white;
  padding: 5px;
  color: black;
}

.breadcrumb li a {
  color: black;
  font-weight: lighter;
}

.breadcrumb li a:hover {
  color: orangered;
}

#anima {
  animation-name: big;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}

@keyframes big {
  0% {
    transform: scale(1.8);
  }

  25% {
    transform: scale(1.6);
  }

  50% {
    transform: scale(1.4);
  }

  75% {
    transform: scale(1.2);
  }


  100% {
    transform: scale(1);
  }
}

@keyframes carousel {
  0% {
    background-image: url("https://images.idgesg.net/images/article/2019/05/java_binary_code_gears_programming_coding_development_by_nevarpp_gettyimages-688718788_2400x1600-100795799-large.jpg");
  }

  25% {
    background-image: url("https://www.esilo.com/wp-content/uploads/media-library/hooded-hacker-on-comupter-digital-brain-potential-blog-post-e1573366318920.jpg");
  }

  50% {
    background-image: url("https://previews.123rf.com/images/tashatuvango/tashatuvango1401/tashatuvango140100035/25049944-web-development-blue-color-text-on-dark-digital-background-.jpg");
  }

  75% {
    background-image: url("https://www.coe.int/documents/365513/10877703/speech-Ai-Helsinki-2019-870x489.jpg/15893919-49cb-018d-e6db-2603133098ba?t=1551174277000");
  }

  100% {
    background-image: url("https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/large/introduction-to-machine-learning_social.png?1510178550");
  }
}

.qts {
  margin-top: 400px;
  width: 100%;
  height: 100%;
}